.Settings {
  position: relative;
  text-align: center;
  justify-content: center;
  border-top: 0px;
  background-color: transparent;
}

.matchSettings {
  width: 100%;
  border: solid red;
}

.h1 {
  display: flex;
  justify-content: center;
}
