.circular {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -1px 1px 5px -2px white inset;

  
}

.roundedEdges{
  margin: auto;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  left: 35px;
  box-shadow: -1px 1px 5px -2px white inset;
}

.inner{
  display: inline-block;
}

.changeSeconds{
  margin: 0;
  padding: 0;
  height: 70px;
  width: 70px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -1px 1px 4px -1px white inset;

}


.resetTimer{
  font-size: 12px;
  margin: 0px;
  padding: 0;
  height: 45px;
  width: 45px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  position:relative;
  left:22px;
  box-shadow: -1px 1px 5px -2px white inset;

}


.countdownTimer{
  font-size: 72px;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  background-color: rgba(23,23,23,255);
  border: black;
  border-style: groove;
  border-width: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  //box-shadow: -1px -1px 5px -2px white inset;
  box-shadow: -1px 1px 5px -2px white inset;

  //box-shadow: 5px -5px 5px 2px black inset;
 

  
}


.stopTimer {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}