.circular { 
  //creates circular buttons
  //used in the start and stop buttons
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;

  
}

.roundedEdges{ //creates buttons with rounded edges
  //only used for - and + buttons in score
  margin: 10px;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  box-shadow: -1px 1px 5px -2px white inset;
}
.roundedEdges:focus-within{
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.roundedEdges:hover{
  box-shadow: 0 5px 15px 4px rgb(255, 255, 255);
}

.inner{ //makes an inline block
  display: inline-block;
}

.changeSeconds{ //sets style for the changeSeconds button
  margin: 0;
  padding: 0;
  height: 70px;
  width: 70px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -1px 1px 3px -1px white inset;

}

.changeSeconds:hover{
    box-shadow: 0 0px 15px 2px  white;
  
}

.resetTimer:hover{
  box-shadow: 0 0px 2px 3px  white;

}
.resetTimer{ //sets style for resetTimer button
  font-size: 12px;
  margin: 0px;
  padding: 0;
  height: 45px;
  width: 45px;
  background-color: rgba(23,23,23,255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  position:relative;
  top: -35px;
  left:22px;
  box-shadow: -1px 1px 5px -2px white inset;

}


.countdownTimer{ //sets style for countdownTimer button
  font-size: 72px;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  margin-top: 50px;
  position: relative;
  background-color: rgba(23,23,23,255);
  border: black;
  border-style: groove;
  border-width: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  //box-shadow: -1px -1px 5px -2px white inset;
  //box-shadow: -1px 1px 5px -2px white inset;
  box-shadow: -2px 2px 4px -2px white inset;

  //box-shadow: 5px -5px 5px 2px black inset;
}

.countdownTimer:hover{
  box-shadow: 0 0px 3px 2px  rgb(255, 255, 255);
}

.startTimer{
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.startTimer:hover{
  box-shadow: 0 0px 3px 1px  rgb(123, 128, 109);

}
.stopTimer { //sets style for stop timer button
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
  
}

.stopTimer:hover{
  box-shadow: 0 0px 3px 1px  rgb(123, 128, 109);

}