.circular {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}

.roundedEdges{
  margin: auto;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
  
}

.inner{
  display: inline-block;
}

.changeSeconds{
  margin: 0;
  padding: 0;
  height: 70px;
  width: 70px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}


.resetTimer{
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}


.countdownTimer{
  font-size: 72px;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  // margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  
}