.gameClockDiv {
  max-width: 600px;
  display: grid;
  grid-template-columns: 50% 30%;
  gap: 15px;
}

.timersDiv {
  border-color: black;
  border-style: solid;
  background-color: black;
  display: inline-block;
  padding-left: 33px;
  margin-right: auto;
  width: 113px;
  transform: translatex(100px) translatey(-65px);
}

.h1 {
  font-size: 36px;
  transform: translatey(7px);
  text-align: center;
}
.clockDiv {
  display: inline-block;
  height: 75px;
  width: 150px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 5px;

  transform: translatex(0px) translatey(10px);
}

.halfTimeDiv {
  display: inline-block;
  text-align: center;
  border: solid;
  background-color: var(--secondary-color);
  font-size: 0.8em;
  box-shadow: 3px -2px 7px rgba(0, 0, 0, 0.25) inset, -3px 5px 8px white inset;
  margin-left: 20px;
  min-width: 150px;
}

.resetTimerDiv {
  max-width: 55px;
  position: relative;
  top: 0px;
  left: 10px;
  grid-row: 2;
}

@media (min-width: 600px) {
  .gameClockDiv {
    max-height: 180px;
  }
  .resetTimerDiv {
    left: 55px;
  }
}
