.throwTimerDiv {
  height: auto;
  max-width: 600px;
}

.changeSecondsDiv {
  position: relative;
  display: flex;
  max-width: 300px;
  justify-content: right;
}

.countdownTimerDiv {
  font-size: 50px;
  //color: red;
}

.countdownTimerDiv {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .countdownTimerDiv {
    display: flex;
    justify-content: center;
  }

  .changeSecondsDiv {
    margin-right: 45px;
    margin-left: auto;
  }
}
