.throwTimerDiv{
  height: auto;
  max-width: 600px;

}

.rightAlign{
    position: relative;
    display: flex;
    max-width: 300px;
    justify-content: right;    
  }

  .countdownTimerDiv{
    font-size: 50px;
    //color: red;
  }

  .centerAlign{
      position:relative;
      width: 100%;
  }