.settingsDiv {
  display: inline-block;
  min-width: 280px;
  justify-content: center;
}

.teamDiv {
  display: inline-block;
  width: auto;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 850px;
  min-width: 280px;
}

@media (max-width: 600px) {
  .main {
    text-align: center;
  }
}
@media (min-width: 650px) {
  .main {
    font-size: 1.05em;
  }
  .buttonsDiv {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1150px) {
  .main {
    font-size: initial;
  }
}
