.settingsDiv {
  display: inline-block;
  min-width: 280px;
  justify-content: center;
}

.navBar {
  background-color: var(--secondary-color);
  box-shadow: 3px -2px 7px rgba(0, 0, 0, 0.25) inset, -3px 5px 7px white inset;
  border: solid;
  text-align: left;
  margin-bottom: 5px;
  min-height: 75px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navBar > ul {
  margin-top: 3px;
  margin-bottom: 3px;
  height: fit-content;
  padding: 2px;
  list-style: none;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
}

.navBar > ul > li {
  text-align: center;
}
.teamDiv {
  display: inline-block;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 850px;
  min-width: 400px;
  border: solid 1px;
  padding: 1px;
}

@media (min-width: 650px) {
  .main {
    font-size: 1.05em;
  }
  .buttonsDiv {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1150px) {
  .main {
    font-size: initial;
  }
}
