.settingsDiv {
  display: inline-block;
  min-width: 280px;
  justify-content: center;
}

.navBar {
  min-height: 70px;
  background-color: var(--secondary-color);
  box-shadow: 3px -2px 7px rgba(0, 0, 0, 0.25) inset, -3px 5px 7px white inset;
  border: solid;
  text-align: left;
  margin-bottom: 5px;
}
.navBar > ul {
  padding: 2px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navBar > ul > li {
  display: list-item;
  vertical-align: middle;
  text-align: center;
}
.teamDiv {
  display: inline-block;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 850px;
  min-width: 400px;
  border: solid 1px;
  padding: 1px;
}

@media (min-width: 650px) {
  .main {
    font-size: 1.05em;
  }
  .buttonsDiv {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1150px) {
  .main {
    font-size: initial;
  }
}
