.mainDiv{
    min-width: 280px;
}

.settingsDiv{
  display: inline-block;
  min-width: 280px;
  justify-content: center;
    

}


.teamDiv{
  display: inline-block;
  width: auto;
  height: auto;


}


/*
 style={{
            marginLeft: 25,
            marginRight: 25,
            minWidth: "100",
            backgroundColor: "white",
            border: "thick solid ",
            display: "grid",
            gridTemplateColumns: "1rf 1rf 1rf 1rf",
            justifyContent: "center",
          }} */