#SignInDiv {
  margin: -3px 5px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  transform: translatex(0px) translatey(0px);
  background: transparent;
}

@media (min-width: 600px) {
  #signOutDiv,
  #SignInDiv {
    margin-top: 5px;
  }
}

#signOutDiv {
  margin: -3px 5px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  transform: translatex(0px) translatey(0px);
  background: transparent;
}
